hr {
  height: 1px;
}

.solid-line {
  border-top: 2px solid;
}

.double-line {
  border-top: 3px double;
}

.dashed-line {
  border-top: 2px dashed;
}

.heading {
  height: 10%;
  align-self: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
  padding: 10px;
  background-color: skyblue;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

details > summary {
  padding: 10px;
  background-color: #12398f;
  color: #fcfeff;
  border: 2px solid #a2becf;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    color 0.3s;
}

details > div {
  border: 2px solid #a2becf;
  border-top: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

details[open] > summary {
  color: #fff;
  background-color: #070655;
  border-color: #49788c;
  border-radius: 5px 5px 0 0;
}

details > summary::-webkit-details-marker {
  display: none;
}

.regular {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.quote {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }
}

.bold {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

.underline {
  font-size: 20px;
  text-decoration: underline;
}

.image {
  width: 20%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: linear-gradient(to right, #350f5c, #503285);
}

.details-container {
  overflow: auto;
  padding: 10px;
}

